# Node Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env

# Build Output
client/dist/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
